<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Menu - Cliente</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="AppVue" class="box-app">

        <div class="page has-title has-footer fixed">
            <div class="inner">
                <div class="title">
                    <div class="inner">
                        <div class="title-label">
                            Menu Online
                        </div>
                    </div>
                </div>

                <div class="content">
                    <h2>
                        Página Inicial
                    </h2>

                    <ul>
                        <li v-for="category in client.categories">
                            <h3>{{ category.name }}</h3>

                            <ul>
                                <li v-for="item in category.items">
                                    <a :href="'#/item/' + item.id">
                                        <h4>{{ item.name }}</h4>

                                        <p>Preço: {{ item.price }}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="footer">Copyright</div>
            </div>
        </div>

        <div class="page has-title" :class="{
            'active': pages.item.active,
        }">
            <div class="inner">
                <div class="title">
                    <div class="inner">
                        <div class="title-label">
                            {{ item.name }}
                        </div>

                        <div class="title-button left">
                            <a href="#/">
                                <span class="fa fa-arrow-left"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <pre>{{ item }}</pre>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
        integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
        crossorigin="anonymous"></script>

    <script src="/lib/fmroute.js"></script>
    <script>var client = JSON.parse('<%- clientJson %>');</script>
    <script src="/js/app.js"></script>

</body>

</html>